/*basics of the page*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
.container{
    width: 90%;
    margin: auto;
    padding: 20px;
}
h1,h2{
    text-align: center;
    color: black;
}
.form-section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input, textarea, select{
    width: 99%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #c29f9f;
    border-radius: 5px;
}
button{
    margin-top: 15px;
    padding: 10px 15px;
    background: rgb(87, 55, 13);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: darkblue;
}
.resume-section{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.resume-template{
    border: 2px solid #c29f9f;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    background: white;
}